<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon">
    <mat-icon (click)="navToggle = !navToggle">menu</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/developer-board']" class="example-icon">
    <mat-icon>developer_board</mat-icon>
  </button>
  <span style="flex: 1 1 auto"></span>
  <span>K Cube</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-icon-button (click)="login()" class="example-icon" *ngIf="person_id == null">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()" class="example-icon" *ngIf="person_id != null">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container style="height: 100vh;">
  <mat-sidenav mode="side" [opened]="navToggle" style="width: 10vw;">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/the-graph']" matTooltip="comprehensive view of all graphs">
        <a matLine>The Graph</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/all-courses']" matTooltip="edit or create courses">
        <a matLine>All Courses</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/my-drive']" matTooltip="graphs & teaching plan" *ngIf="person_id">
        <a matLine>My Drive</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>