<mat-sidenav-container style="height: 100vh;">
  <mat-sidenav mode="side" opened style="width: 10vw;">
    <mat-nav-list>
      <mat-list-item matTooltip="comprehensive view of all graphs">
        <a matLine>The Graph</a>
      </mat-list-item>
      <mat-list-item matTooltip="edit or create courses">
        <a matLine>All Courses</a>
      </mat-list-item>
      <mat-list-item matTooltip="graphs & teaching plan">
        <a matLine>My Drive</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>