<mat-list role="listbox">
    <mat-list-item role="list">
        <app-file-path-bar [paths]="paths"></app-file-path-bar>
    </mat-list-item>
    <div *ngIf="!selected_course">
        <mat-form-field>
            <input matInput placeholder="Filter..." value="" [(ngModel)]="searchingString">
        </mat-form-field>
        <mat-list-item role="option" *ngFor="let course of courses | search:'course_name':searchingString"
            [routerLink]="['/my-drive/']" [queryParams]="{ course_id: course.course_id }">
            <mat-icon>folder</mat-icon><span>&nbsp;</span>{{course.course_name}}
        </mat-list-item>
    </div>
    <div *ngIf="graphs">
        <mat-list-item role="option" *ngFor="let graph of graphs" [routerLink]="['/graph-editor/']"
            [queryParams]="{ graph_id: graph.graph_id }">
            <mat-icon>folder</mat-icon><span>&nbsp;</span>{{graph.create_datetime | date : 'short'}}
        </mat-list-item>
    </div>
</mat-list>
<button mat-fab *ngIf="selected_course" style="float: right; right: 2vw; bottom: 2vw; position: fixed"
    (click)="createGraph()">
    <mat-icon>add</mat-icon>
</button>